<h2>All Contacts</h2>
<%= render 'search' %>

<ul>
	<a  href="/contacts/new">  <li id="bold" class="button">Add contact</li></a>
</ul>


<div id="contacts" class='contact_list'>
	<ul>
		<%= render @contacts %>
	</ul>
</div>