<h2 class="content">Welcome to <%= @crm_app_name %></h2>
<ul >
  <a class="bold" href="/contacts"><li class="button">View all contacts</li></a>
 	<a class="bold" href="/contacts/new">  <li class="button">New contact</li></a>
</ul>