

<div>
<h1>Clarity</h1>

<p class="info">A contact list with a chic minimalist design to keep your connections in order </p>

<a class="bold" href="/users/new"><li class="button">Sign Up</li></a>
 	<a class="bold" href="/sessions/new">  <li class="button">Sign In</li></a>

</div>